.menu-area {
  .container {

    @media (max-width: 992px) {
      max-width: 45rem;
    }

    max-width: 70rem;

    .menu-content {
      @media (max-width: 992px) {
        height: 100%;
        gap: 0;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      display: flex;
      height: 70rem;
      gap: 3rem;

      .menu-text {
        @media (max-width: 992px) {
          width: 50%;
        }

        @media (max-width: 768px) {
          margin-top: 5rem;
          margin-bottom: 5rem;
          width: 80%;
        }

        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
        margin-bottom: 10rem;

        h1 {
          @media (max-width: 992px) {
            line-height: 1.2;
            font-size: 35px;
            letter-spacing: normal;
          }

          margin-bottom: 20px;
          font-size: 48px;
          line-height: 1.5;
          letter-spacing: 7.2px;
          text-transform: uppercase;
          color: #000;
          margin-top: 0;
          font-weight: normal;
        }

        p {
          margin-bottom: 50px;
          line-height: 30px;
          color: #777777;
          font-size: 15px;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
          width: 80%;
        }

        a {
          @media (max-width: 1050px) {
            width: 60%;
          }

          @media (max-width: 992px) {
            width: 50%;
            font-size: 12px;
          }

          @media (max-width: 450px) {
            width: 65%;
            font-size: 12px;
          }

          line-height: 48px;
          padding: 0 15px;
          background: #ad9966;
          border: 1px solid #ad9966;
          color: #fff;
          display: inline-block;
          font-weight: normal;
          position: relative;
          letter-spacing: 2px;
          transition: all 0.4s ease 0s;
          cursor: pointer;
          width: 45%;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;

          &:hover {
            background: transparent;
            color: #ad9966;
          }
        }
      }

      .menu-list {
        @media (max-width: 992px) {
          padding: 60px 0;
          margin-left: 15px;
        }

        @media (max-width: 768px) {
          width: 80%;
        }

        padding: 120px 0;
        text-align: center;
        background: #faf5f0;
        width: 60%;

        .single-menu {

          h3 {
            @media (max-width: 992px) {
              margin-top: 0;
            }

            font-size: 21px;
            position: relative;
            padding-bottom: 20px;
            font-style: italic;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-top: 30px;
            font-weight: normal;
            line-height: 1.5em;

            &::after {
              content: '';
              position: absolute;
              left: 50%;
              top: 35px;
              transform: translate(-50%, -50%);
              height: 1px;
              width: 120px;
              background: rgba(0, 0, 0, 0.2);
            }
          }

          ul {
            list-style: none;

            li {
              @media (max-width: 992px) {
                padding-bottom: 20px;
              }

              padding-bottom: 35px;

              .menu-item {
                margin-bottom: 10px;
                font-weight: 500;
                color: #010000;
                font-size: 15px;
                line-height: 1.7;

                span {
                  font-weight: 500;
                  color: #010000;
                  font-size: 15px;
                  line-height: 1.7;
                }
              }

              p {
                color: #777777;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.7;
              }
            }
          }
        }
      }
    }
  }
}