.hero-section {
  background: url("../../images/hero/kitchen-bg.png") no-repeat center;
  background-size: 95rem;
  position: relative;
  height: 750px;

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    text-align: center;
    padding-right: 20rem;
    padding-left: 20rem;
    color: white;
    position: relative;
    z-index: 1;

    h1 {
      color: #fff;
      font-size: 72px;
      text-transform: uppercase;
      letter-spacing: 10.8px;
    }

    p {
      font-size: 18px;
      text-transform: uppercase;
      padding-top: 8px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;

  }
}

